<div>

    <div class="sidebar-buttons-div">
        <button>New Folder</button>
        <button>New File</button>
        <button>Share Folder</button>
        <button>Delete Folder</button>
    </div>
    
    <div class="sidebar-drop-down">
        
    </div>
</div>